/* Reset some default margin and padding */
body,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/pastel-purple-color-solid-background-1920x1080.png');
  /* Replace with the path to your image */
  background-size: cover;
  /* This will make the image cover the entire background */
  background-repeat: no-repeat;
  /* Prevent the image from repeating */
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
}


/* Navigation Bar */
ul {
  margin: 0px auto 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
}

li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}


/* Container General */
.container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-container img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.container p {
  color: white;
}

/* Contact me */
.contact-me {
  text-align: center;
}

.contact-me a img {
  width: 100px;
  height: 100px;
}

/* Vertical Container */
.vertical-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

/* Education Journey */
.title-container {
  /* background-color: blue; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.card-container {
  /* background-color: red; */
  padding: 20px;
  /* Add spacing around cards */
}

/* Updated styles for card */
.card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  /* Add spacing between cards */
}

/* Style for the card image */
.card .card-image {
  flex: 1;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card .card-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Style for the card content */
.card .card-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Style for the expandable text */
.card .card-text {
  flex-grow: 1;
  /* Allow text to expand */
  display: flex;
  flex-direction: column;
}

.card .card-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card .card-text p {
  font-size: 16px;
  color: #333;
}

/* Style for the button */
.card .card-text button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}


/* Footer */
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}