/* Reset styles for margin and padding */
body, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/pastel-purple-color-solid-background-1920x1080.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure the body takes up at least the viewport height */
  display: flex;
  flex-direction: column; /* To make the footer stay at the bottom */
}


/* Center the title div and make it bigger */
header {
  text-align: center;
  padding: 20px;
  background-color: #3498db;
}

.title h1 {
  font-size: 36px;
}

/* Define a grid container */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Style for each card */
.card {
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

/* Style for the button */
.card-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* container */
.container {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Footer */
footer {
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: white;
  margin-top: auto; /* Push the footer to the bottom */
}


/* Navigation Bar */
ul {
  margin: 0px auto 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 100%;
  text-align: center;
  background-color: #333;
}

li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}